body
{
    position: relative;
    color: black;
}
.connexion
{
    width: 60%;
    margin: auto;
}

.connect
{
   border: solid 1px;
   width:50%;
   margin:auto;
   padding: 1em 1em 1.5em 1em;
   border-radius: 0.5em;
   box-shadow: 5px 5px 10px #ccc;

}

input[type=text], input[type=password]
{
    border: 1px solid #ccc;
    height: 1.5em;
    border-radius: 1em;
    padding-left: 1em;
}

input[type=submit]
{
    margin-top: 0.5em;
}

.text
{
   border: 1px solid black;
   width: 100%;
   max-height: 600px;
   overflow: auto;
   
}
.lepost{
    width: 95%;
    padding: 0.313em;
    border-radius: 3px;
    border: 0.09em solid lightgrey;
}
.lepost {
    display: inline-block;
}

.formulaire
{
    border: 1px solid yellowgreen;
    min-height: 11em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.formulaire *{
    display: inline-block;
}
#envoi{
    
    width: 50%;
    height: 100px;
}
